bin/*
!cmd/*.go

/vendor/
/test-results/
/integration-results/
/.cover/
/data/data.db
/etc/keys/
/etc/market.test.yaml

interface/grpc/srv/mocks/*
service/mocks/*
!/mocks/stub.go
mocks.go

# IDEA
.project
.idea
*.iml

!.gitkeep
!.gitignore

fake_for_correct_coverage_test.go
/_idea_vendor/
.DS_Store

# coverage reports
*.out